Django==5.1.4
djangorestframework==3.15.2
django-cors-headers==4.6.0
psycopg2-binary==2.9.10
dj-database-url==2.3.0
whitenoise==6.8.2
gunicorn==23.0.0
uvicorn[standard]==0.32.1
asgiref==3.8.1
python-dotenv==1.0.1
bcrypt==4.2.1
PyJWT==2.10.1
